steps/human/version1/memo
steps/human/version1/step1
steps/human/version1/step2
steps/human/version1/step3
steps/human/version1/step4
steps/human/version1/step5
steps/human/version1/step6
steps/human/version1/step7
steps/human/version1/step8
steps/human/version1/step9
steps/human/version1/analysis_data/step1_combined_appointments.csv
steps/human/version1/analysis_data/step2_key_columns_data.csv
steps/human/version1/analysis_data/step3_repeats_marked.csv
steps/human/version1/analysis_data/step4_employee_counts.csv
steps/human/version1/analysis_data/step5_reappointment_counts.csv
steps/human/version1/analysis_data/step6_reappointment_rates.csv
steps/human/version1/analysis_data/step7_yearly_max_rates.csv
steps/human/version1/analysis_data/step7_yearly_max_rates.png
steps/human/version1/analysis_data/step8_annual_proportions.csv
steps/human/version1/analysis_data/step8_annual_reappointment_proportions.png
steps/human/version1/analysis_data/step9_regression_results.txt
