scripts/human/version1/memo
scripts/human/version1/script1
scripts/human/version1/script2
scripts/human/version1/script3
scripts/human/version1/script4
scripts/human/version1/script5
scripts/human/version1/script6
scripts/human/version1/script7
scripts/human/version1/script8
scripts/human/version1/script9
scripts/human/version1/analysis_data/step1_combined_appointments.csv
scripts/human/version1/analysis_data/step2_key_columns_data.csv
scripts/human/version1/analysis_data/step3_repeats_marked.csv
scripts/human/version1/analysis_data/step4_employee_counts.csv
scripts/human/version1/analysis_data/step5_reappointment_counts.csv
scripts/human/version1/analysis_data/step6_reappointment_rates.csv
scripts/human/version1/analysis_data/step7_yearly_max_rates.csv
scripts/human/version1/analysis_data/step7_yearly_max_rates.png
scripts/human/version1/analysis_data/step8_annual_proportions.csv
scripts/human/version1/analysis_data/step8_annual_reappointment_proportions.png
scripts/human/version1/analysis_data/step9_regression_results.txt
